@media (max-width: 475px) {

    /* header============ */
    /* logo */
    .logo {
        display: flex;
        transform-style: preserve-3d;
        gap: 15px;
        transform: rotateY(25deg) rotateX(1deg);




    }

    .logo .text {
        position: relative;
        width: 20px;
        height: 20px;
        transform-style: preserve-3d;
        transition: 2.5s ease-in-out;

    }

    .logo:hover .text {
        transform: rotateX(720deg)
    }


    .logo:hover .text:last-child {
        transform: rotateX(-720deg)
    }

    .logo:hover .text:first-child {
        transform: rotateX(-360deg)
    }

    .logo:hover .text:nth-child(2) {
        transform: rotateX(360deg)
    }

    .logo .text::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(135deg, #222425 10%, #b05df3 100%);
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        transform-origin: left;
        transform: rotateY(90deg) translateX(-9px);
        border-radius: 5px;


    }



    .logo .text span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(135deg, #43CBFF 10%, #9708CC 100%);
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffff;
        transform-style: preserve-3d;
        transform: rotateX(calc(91deg * var(--i))) translateZ(9px);
        border-radius: 5px;

    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .nav-bar.active {
        height: 250px;
    }

    .nav-bar {
        height: 0px;
        position: absolute;
        top: 70px;
        left: 0px;
        right: 0;

        width: 100%;
        background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
        transition: 0.5s;
        overflow: hidden;
        /* border: 20px solid red; */


    }

    .nav-bar ul {
        display: block;

        margin: 0px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .nav-bar.active ul {
        opacity: 1;
        width: 100%;


        gap: 50px;

    }

    .nav-bar ul li a {

        color: wheat;
        font-size: 1.3rem;
        /* border: 2px solid red; */
        width: 100%;
        transition: 0.2s;
    }

    .nav-bar ul li a:hover {
        color: #0f0c29;
        background: #fefefe;
    }


    /* =====Section-1 ====== */

    .section-1 .img-div {
        padding: 3rem 1.5rem 1rem 1.5rem;
        height: 550px;
    }


    .text-div :nth-child(3) {
        margin-bottom: 60px;

    }

    .text-div :nth-child(4) {
        line-height: 30px;
    }

    /* ----------- Section-1 - More News----- */

    .more-news-box {
        padding: 60px 35px;

    }

    /* Section -2 ------------ */

    .article-1 {
        gap: 30px
    }


    .card {
        width: 97%;
    }



    /* ---section-3 left content---- */
    .article-img {
        height: 300px;
    }

    .article-img h3 {
        margin-bottom: 60px;
    }

    .article-img h2 {
        margin-bottom: 30px;
    }

    .article-img h2::before {
        height: 500%
    }

    /* ---section-3 right content---- */

    figure {
        width: 100%;
    }

    .disappear {
        display: block;
    }

    .dissappear-mobile {
        display: none;
    }


    /* Footer ======= */
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo-2 {
        display: none;
    }

    .footer-nav {
        display: none;
    }
}